<a href="https://colab.research.google.com/github/nikoapostolou/NikoApostolou/blob/main/BTE320_assignments_Completed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# Shape Area Calculator

pi = 3.14
r = float(input("Provide a value for the radius (in ft): "))
c = float(input("Provide a value for side: "))
h = float(input("Provide a value for height: "))
shape = 'cylinder'

if shape == 'circle':
  area = pi * r ** 2
  print(f'Area is {area} sq ft.')

elif shape == 'sq':
  area = c ** 2
  print(f'Area is {area} sq ft.')

elif shape =='triangle':
  area = .5 * c * h
  print(f'Area is {area} sq ft.')

elif shape == 'cylinder':
  area = 2 * pi * r * h + 2 * pi * r ** 2
  print(f'Area is {area} sq ft.')

print("Program Ends...")

Provide a value for the radius (in ft): 8
Provide a value for side: 6
Provide a value for height: 2
Area is 502.40000000000003 sq ft.
Program Ends...

In [17]:
# Rock-paper-scissors (with the while loop)

import random
choice = str(input('Do you want to play a game? ')).lower()

while choice == 'yes':
  p1 = input('Player 1 - Choose rock, paper, or scissors: ').lower()
  p2 = random.choice(['rock', 'paper', 'scissors'])
  print(f'Computer chose {p2}.')
  if p1 == p2:
    print('Draw')
  elif (p1 == 'rock' and p2 == 'scissors') or (p1 == 'scissors' and p2 == 'paper') or (p1 == 'paper' and p2 == 'rock'):
   print('Player 1 wins')
  else:
    print('Player 2 wins')

  choice = str(input('Do you want to play another game? '))

Do you want to play a game? yes
Player 1 - Choose rock, paper, or scissors: rock
Computer chose scissors.
Player 1 wins
Do you want to play another game? no

In [15]:
# Numerical calculator

n1 = float(input('Number: '))
n2 = float(input('Number: '))
s = str(input('Choose operation +, -, *, /, **: '))

if s == '+':
  a = n1 + n2
  print(f'The answer is: {a}')
elif s == '-':
  a = n1 - n2
  print(f'The answer is: {a}')
elif s == '*':
  a = n1 * n2
  print(f'The answer is: {a}')
elif s == '/':
  a = n1 / n2
  print(f'The answer is: {a}')
elif s == '**':
  a = n1 ** n2
  print(f'The answer is: {a}')
else:
  print('Error')

Number: 2
Number: 3
Choose operation +, -, *, /, **: *
The answer is: 6.0

In [10]:
# Parking garage

varFee = 5
flatFee = 2.5

for hour in range(1, 9, 1):
  charge = flatFee + varFee * hour
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(hour, charge)

1 10
2 12.5
3 17.5
4 20
5 20
6 20
7 20
8 20

In [9]:
# Movie theater

r = int(input('how many rounds: '))
d = float(input('Ad dollars: '))

ad = 2 * ((r * d) ** .5)

for ad in range(0, 201, 25):
  profit = (20 + ad) * 10 - 200 - ad
  print(ad, profit)

how many rounds: 3
Ad dollars: 4
0 0
25 225
50 450
75 675
100 900
125 1125
150 1350
175 1575
200 1800

In [8]:
# Months2Numbers dictionary

months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
number = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(number)):
  months[number[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [16]:
# Fee calculation and display functions

def displayFee(fee):
  print(fee)

def calcFee(hours, decimals=2):
  fee = round(5 + hours * 2.5, decimals)
  return fee

def main():
  hours_parked = int(input('Enter hours: '))
  f = calcFee(hours_parked)
  displayFee(f)

if __name__ == '__main__':
  main()

Enter hours: 4
15.0

In [7]:
# Reverse function (recursion)

def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[1:-1]) + s[0]
    #OR return rev(s[1:]) + s[0]
    #OR return s[-1] + rev(s[:-1])

rev('hello world')

'dlrow olleh'

In [2]:
# Student class

class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'You have already enrolled in course: {course}')

  def get_courses(self):
    return self.courses

In [3]:
s = Student('Bob', '123')

In [4]:
s.enroll('ABC123')
s.enroll('ABS456')
s.enroll('ABC789')

In [5]:
s.get_courses()

['ABC123', 'ABS456', 'ABC789']

In [6]:
s.enroll('ABC123')

You have already enrolled in course: ABC123